@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0%;
  margin: 0%;
}

#container-1 {
  padding-left: 5rem;
  height: 100vh;
  background-color: #fdebc2;
  color: #3f3f54;
}

#container-2 {
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100vh;
  background-color: #3f3f54;
  color: #fdebc2;
}

#left {
  padding-top: 15%;
  margin-bottom: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#hi {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 80px;
}

#sub-2 {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
}

#col-2 {
  bottom: 0px;
}

#standing {
  width: 50vh;
  padding-top: 34vh;
}

#button {
  text-align: center;
  color: #fdebc2;
  text-decoration: none;
  background-color: #3f3f54;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 3rem;
  width: 50%;
  padding: 1rem;
}

#col-2 {
  height: 100vh;
  background-image: url("./assets/standing.png");
  background-size: contain;
}

#col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siskom {
  margin-top: 5vh;
  height: 95vh;
}

.congrats {
  padding-top: 1rem;
  padding-left: 5rem;
  text-decoration: none;
  font-size: 80px;
  font-family: 'Nunito', sans-serif;
  color: #fdebc2;
}

@media (max-width: 767px) {
  * {
    text-align: center;
  }

  #container-1 {
    padding: 0px;
    flex-direction: column;
  }

  #button {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .col2 {
    height: 50vh;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 30% !important;
  }

  #container-2 {
    padding: 0px;
    height: 100%;
  }

  .congrats {
    padding: 0px;
  }

  .col3 {
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
  }

  .siskom {
    padding-top: 5rem;
  }
}